body {
	text-align: center;
}

body {
  color: white;
	background-blend-mode: lighten;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #02243E;

}

input[type=checkbox] {
	zoom: 1.5;
}

h1 {
  color: white;
	border-left-style: solid;
	border-right-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: white;
	background-color: #FE5000;

}

p {
  color: white;
	font: roboto;
}

.defaultTextBox {
	padding: 0;
	height: 30px;
	position: relative;
	left: 0;
	outline: none;
	border: 1px solid #cdcdcd;
	border-color: rgba(0, 0, 0, .15);
	background-color: white;
	font-size: 16px;
}

.button {
	border-radius: 4px;
	background-color: gray;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	padding: 10px;
	width: 100px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}



#checkbox {
    margin:4px;
    background-color:#FE5000;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
}

#checkbox label {
    width:4.0em;
}

#checkbox label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

#checkbox label input {
    position:absolute;
    top:-20px;
}

#checkbox input:checked + span {
    background-color:rgb(100, 32, 0);
    color:#fff;
}